@import '~styles/shared/variables/colors';

.container {
	display: block;
	margin: 25px 0;
}

.type {
	&-horizontal {
		height: 1px;
		width: 100%;
	}

	&-vertical {
		width: 1px;
		height: 100%;
	}
}

.theme {
	&-white {
		background-color: $white;
	}

	&-black {
		background-color: $gray-2;
	}

	&-light-blue {
		background-color: $blue-2;
	}
}
