@import '~styles/shared/variables/colors';
@import '~styles/shared/helpers/text';

$btn-size-sm: 30px;
$btn-size-md: 35px;
$btn-size-lg: 40px;

$btn-font-size-icon: 13px;

$btn-font-size-sm: 14px;
$btn-font-size-md: 14px;
$btn-font-size-lg: 16px;

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	height: $btn-size-md;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: $base-border-radius;

	color: rgba(#000, 0.65);
	font-size: $base-font-size;
	font-weight: 400;
	line-height: $base-line-height;
	text-align: center;
	text-decoration: none;

	cursor: pointer;
	user-select: none;
	touch-action: manipulation;

	@extend .text-ellipsis;

	&:active, &:focus {
		outline: 0;
	}

	&.disabled,
	&:disabled,
	&[disabled] {
		cursor: not-allowed;
	}
}

.child-with-icon {
	padding-left: 10px;
}

/**
* Block type (full width)
*/
.block {
	width: 100%;
}

/**
* Colors themes
*/
.theme {
	&-purple {
		background-color: $blue-3;
		border-color: $blue-3;
		color: $white;

		&:hover:not(:disabled):not(.transparent) {
			background-color: rgba($blue-3, .9);
			border-color: rgba($blue-3, .9);
		}

		&:disabled, &[disabled] {
			background-color: lighten($blue-3, 10%);
			border-color: lighten($blue-3, 10%);
		}
	}

	&-success {
		background-color: $green;
		border-color: $green;
		color: $white;

		&:hover:not(:disabled):not(.transparent) {
			background-color: rgba($green, .9);
			border-color: rgba($green, .9);
		}

		&:disabled, &[disabled] {
			background-color: lighten($green, 10%);
			border-color: lighten($green, 10%);
		}
	}

	&-danger {
		background-color: $red-1;
		border-color: $red-1;
		color: $white;

		&:hover:not(:disabled):not(.transparent) {
			background-color: rgba($red-1, .9);
			border-color: rgba($red-1, .9);
		}

		&:disabled, &[disabled] {
			background-color: lighten($red-1, 10%);
			border-color: lighten($red-1, 10%);
		}
	}

	// ... other list themes
}

/**
* Shapes types
*/
.shape {
	&-circle {
		border-radius: 100%;
		padding: 0 !important;
	}
}

/**
* Sizes types
*/
.size {
	&-sm {
		height: $btn-size-sm;
		font-size: $btn-font-size-sm;
		padding: 0 7px;

		&.shape-circle,
		&.is-icon {
			width: $btn-size-sm;
			font-size: $btn-font-size-icon;
			padding: 0;
		}
	}

	&-md {
		height: $btn-size-md;

		&.shape-circle,
		&.is-icon {
			width: $btn-size-md;
			font-size: $btn-font-size-icon;
			padding: 0;
		}
	}

	&-lg {
		height: $btn-size-lg;
		font-size: $btn-font-size-lg;
		padding: 0 15px;

		&.shape-circle,
		&.is-icon {
			width: $btn-size-lg;
			padding: 0;
		}
	}
}

.transparent {
	border-color: transparent;
	background-color: transparent;

	&:hover, &:focus, &:active {
		border-color: transparent;
		background-color: transparent;
	}
}
