@import '~styles/shared/variables/colors';

.ui-input {
	display: flex;
	flex-direction: column;

	&_field {
		width: 100%;
		border: 1px solid rgba(#e5e5e5, 1);
		border-radius: 4px;
		background: 0 0;
		resize: none;
		outline: 0;
		color: rgba(#000, 0.7);
		padding: 6px 11px;
		max-height: 40px;

		&:focus,
		&:active{
			border-color: $blue-3 !important;
		}

		&-size {
			&--sm {
				font-size: 14px;
				height: 30px;
			}

			&--md {
				font-size: 14px;
				height: 35px;
			}

			&--lg {
				font-size: 16px;
				height: 40px;
			}
		}
	}

	&_label {
		position: relative;
		// top: 5px;
	}

	&__error {
		position: relative;
		top: 2px;
		color: $red;

		.ui-input_field {
			border-color: $red;
		}
	}
}
