.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		background-color: transparent;
	}
}

.size {
	&__sm svg {
		width: 50px;
	}

	&__md svg {
		width: 75px;
	}

	&__lg svg {
		width: 100px;
	}
}
