.users-list {
	&-wrapper {
		padding: 15px;
	}

	&-title {
		display: block;
		font-size: 16px;
		font-weight: 400;
		color: #262626;
		margin-bottom: 10px;
	}

	&-users {
		font-size: 12px;
		display: flex;
		flex-grow: row wrap;

		> * {
			margin-right: 5px;
		}
	}
}
