.container {
	background-color: #fff;
	min-height: calc(100vh - 65px);
	position: relative;
}

.tabs {
	border-bottom: 1px solid #eee;
	padding: 0 25px
}

.tasks-list {
	// padding: 15px 25px
	// position: relative;
}
