.list {
	margin: 25px 0;
	padding: 0 0 0 50px;

	&-ordered {
		counter-reset: item;
	}

	&__item {
		font-size: 14px;
		position: relative;
		margin-bottom: 10px;
		list-style: none;

		&:before {
			content: '\2014';
			display: block;
			position: absolute;
			right: 100%;
			top: 0;
			margin-right: 0.6em;
		}
	}

	&-ordered &__item {
        &:before {
            content: counter(item) '.';
            counter-increment: item;
        }
    }
}


