.alert {
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
	padding: 8px 15px;
	border-radius: 4px;

	&-icon {
		position: absolute;
		top: 9px;
		left: 15px;
		font-size: 16px;
	}

	// &-title {}

	&-description {
		font-size: 14px;
		line-height: 22px;
	}

	/**
	*	With icon alert
	*/
	&-with-icon {
		padding: 8px 15px 8px 37px;

		&.alert-with-description {
			padding: 15px 15px 15px 64px;
		}
	}

	/**
	*	With description for alert (description)
 	*/
	&-with-description {
		.alert-title {
			font-size: 16px;
			color: rgba(#000, 0.85);
			display: block;
			margin-bottom: 4px;
		}

		.alert-icon {
			top: 14px;
			left: 24px;
			font-size: 26px;
		}
	}
}

/**
* Themes
*/
.theme {
	&-success {
		border: 1px solid #b7eb8f;
		background-color: #f6ffed;

		.alert-icon {
			color: #52c41a;
		}
	}

	&-warning {
		border: 1px solid #ffe58f;
		background-color: #fffbe6;

		.alert-icon {
			color: #faad14;
		}
	}

	&-error {
		border: 1px solid #ffa39e;
		background-color: #fff1f0;

		.alert-icon {
			color: #f5222d;
		}
	}

	&-info {
		border: 1px solid #91d5ff;
		background-color: #e6f7ff;

		.alert-icon {
			color: #1890ff;
		}
	}
}
