.wrapper {
	position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
	background-color: rgba(0,0,0,.2);
	display: flex;
	z-index: 10;

	&-content {
		&__left {
			justify-content: flex-start;
		}

		&__center {
			justify-content: center;
		}

		&__right {
			justify-content: flex-end;
		}
	}
}

.container {
    width: 40%;
	min-height: 100%;
	height: 100%;
    background-color: #fff;
	padding: 0 15px;
	border-left: 1px solid #eee;
}
