$size-heigth-sm: 30px;
$size-heigth-md: 35px;
$size-heigth-lg: 40px;

$font-size-sm: 14px;
$font-size-md: 14px;
$font-size-lg: 16px;

$border-radius-size: 4px;

:global {
	.UiSelect {
		font-size: $font-size-md;
		font-weight: 400;
		color: rgba(#000, 0.65);
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		position: relative;
		outline: 0;

		ul, ol {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		> ul > li > a {
			padding: 0;
			background-color: #ddd;
		}

		&-arrow {
			display: inline-block;
			text-align: center;
			text-transform: none;
			text-rendering: optimizeLegibility;
			position: absolute;
			top: 50%;
			right: 0;
			line-height: 1;
			transform-origin: 50% 50%;
			color: rgba(0, 0, 0, 0.25);
			font-size: 12px;

			&-icon {
				// color: transparent;
				display: inline-block;
				transform: scale(0.83333333) rotate(0deg);
				transition: all 0.2s ease;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 12px;
				font-size: 12px;
				font-weight: bold;
				text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;

				svg {
					display: block;
				}
			}
		}

		&-selection {
			outline: none;
			user-select: none;
			box-sizing: border-box;
			display: block;
			background-color: #fff;
			border-radius: $border-radius-size;
			border: 1px solid #d9d9d9;
			border-top-width: 1.02px;

			&--single {
				min-height: $size-heigth-md;
				position: relative;
				cursor: pointer;
			}

			&__rendered {
				display: block;
				margin-left: 11px;
				margin-right: 11px;
				position: relative;
				line-height: $size-heigth-md;

				&::after {
					content: '.';
					visibility: hidden;
					pointer-events: none;
					display: inline-block;
					width: 0;
				}
			}

			&-selected {
				&-value {
					float: left;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
					padding-right: 20px;
				}
			}

			&--multiple {
				min-height: $size-heigth-md;
				cursor: text;
				padding-bottom: 3px;
				zoom: 1;
			}

			&--multiple &__choice {
				color: rgba(0, 0, 0, 0.65);
				background-color: #fafafa;
				border: 1px solid #e8e8e8;
				border-radius: 2px;
				cursor: default;
				float: left;
				margin-right: 4px;
				max-width: 99%;
				position: relative;
				overflow: hidden;
				padding: 0 25px 0 10px;

				&__content {
					display: inline-block;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					max-width: 100%;
				}

				&__remove {
					font-style: normal;
					vertical-align: -0.125em;
					text-align: center;
					text-transform: none;
					line-height: 1;
					color: rgba(0, 0, 0, 0.45);
					line-height: inherit;
					cursor: pointer;
					font-weight: bold;
					transition: all .3s;
					display: inline-block;
					font-size: 12px;
					transform: scale(0.83333333) rotate(0deg);
					position: absolute;
					right: 0;
					top: 11px;
				}
			}
		}

		&-selection--multiple,
		&-selection--multiple &-selection__rendered {
			ul > li {
				margin-top: 3px;
				height: 24px;
				line-height: 22px;
			}
		}

		&-selection--multiple &-search--inline {
			float: left;
			position: static;
			width: auto;
			padding: 0;
			max-width: 100%;
		}

		&-selection__placeholder,
		&-search__field__placeholder {
			position: absolute;
			top: 50%;
			left: 0;
			right: 9px;
			color: #bfbfbf;
			line-height: 20px;
			height: 20px;
			max-width: 100%;
			margin-top: -10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-align: left;
		}

		&-selection--multiple &-selection__placeholder {
			margin-left: 6px;
		}

		&-search {
			position: absolute;
			height: 100%;
			width: 100%;

			&--inline &__field__wrap {
				width: 100%;
    			height: 100%;
			}

			&__field {
				border-width: 0;
				font-size: 100%;
				height: 100%;
				width: 100%;
				background: transparent;
				outline: 0;
				border-radius: $border-radius-size;
				line-height: 1;

				&__wrap {
					display: inline-block;
					position: relative;
				}

				&__mirror {
					position: absolute;
					top: 0;
					left: 0;
					white-space: pre;
					pointer-events: none;
					opacity: 0;
				}
			}
		}

		&-selection--multiple &-search--inline &-search__field {
			max-width: 100%;
			width: 0.75em;
		}
		&-selection--multiple &-selection__rendered {
			margin-left: 5px;
			margin-bottom: -3px;
			height: auto;
			overflow: hidden;
		}

		&-dropdown {
			color: rgba(0, 0, 0, 0.65);
			margin: 0;
			padding: 0;
			list-style: none;
			background-color: #fff;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
			border-radius: $border-radius-size;
			box-sizing: border-box;
			z-index: 1050;
			left: -9999px;
			top: -9999px;
			position: absolute;
			outline: none;
			font-size: $font-size-md;

			&-hidden {
				display: none;
			}

			&-menu {
				outline: none;
				margin-bottom: 0;
				padding-left: 0;
				list-style: none;
				max-height: 250px;
				overflow: auto;

				&-item {
					position: relative;
					display: block;
					padding: 5px 12px;
					line-height: 22px;
					font-weight: normal;
					color: rgba(0, 0, 0, 0.65);
					white-space: nowrap;
					cursor: pointer;
					overflow: hidden;
					text-overflow: ellipsis;

					&:first-child {
						border-radius: $border-radius-size $border-radius-size 0 0;
					}

					&:last-child {
						border-radius: 0 0 $border-radius-size $border-radius-size;
					}

					&-selected,
					&:hover {
						background-color: #fafafa;
						font-weight: 600;
						color: rgba(0, 0, 0, 0.65);
					}

					&-disabled {
						color: rgba(0, 0, 0, 0.25);
						cursor: not-allowed;
					}
				}
			}
		}

		&-dropdown &-dropdown--multiple,
		&-dropdown-menu-item &-arrow-icon {
			color: transparent;
		}

		&-dropdown--multiple &-dropdown-menu-item-selected &-arrow-icon {
			color: #1890ff;
		}


		/**
		* SIZE
		*/
		&-size-sm &-selection--single,
		&-size-sm &-selection--multiple {
			// height: $size-heigth-sm;
			min-height: $size-heigth-sm;
			font-size: $font-size-sm;
		}

		&-size-sm &-selection__rendered {
			line-height: $size-heigth-sm;
		}


		&-size-md &-selection--single,
		&-size-md &-selection--multiple {
			// height: $size-heigth-md;
			min-height: $size-heigth-md;
			font-size: $font-size-md;
		}

		&-size-md &-selection__rendered {
			line-height: $size-heigth-md;
		}


		&-size-lg &-selection--single,
		&-size-lg &-selection--multiple {
			// height: $size-heigth-lg;
			min-height: $size-heigth-lg;
			font-size: $font-size-lg;
		}

		&-size-lg &-selection__rendered {
			line-height: $size-heigth-lg;
		}
	}
}
