.container {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	width: 100%;
	height: 65px;
	background-color: #fff;
	border-bottom: 1px solid #E8E8E8;
	padding: 0 25px;

	&-breadcrumb {
		display: flex;
		flex: auto;
		justify-content: flex-start;
	}
}
