/**
* Вспомогательный класс для усечения и добавления многоточия в слишком длинную строку
* на одной строке.
* 1. Предотвращает сворачивание содержимого, оставляет его на одной строке.
* 2. Добавляет многоточие на конце строки.
*/
.text-ellipsis {
	white-space: nowrap; 		/* 1 */
	text-overflow: ellipsis; 	/* 2 */
	overflow: hidden;
}
