@import '~styles/shared/variables/colors';

.field {
	width: 100%;
	border: 1px solid rgba(#eee, 1);
	border-radius: 4px;
	background: 0 0;
	resize: none;
	outline: 0;
	color: rgba(#000, 0.7);
	padding: 6px 11px;

	&:focus,
	&:active {
		border-color: $blue-3;
	}

	&-size {
		&--sm {
			font-size: 14px;
			height: 30px;
		}

		&--md {
			font-size: 14px;
			height: 35px;
		}

		&--lg {
			font-size: 16px;
			height: 40px;
		}
	}

	&__error {
		position: relative;
		top: 2px;
		color: $red;

		.field {
			border-color: $red;
		}
	}
}
