@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,500i,700');
@import './vendors/ant-design';

@import './base/reset';
@import './base/pseudo';

:global {
	html, body {
		font-family: 'Ubuntu', Helvetica, sans-serif;
		font-weight: 300;
		font-size: 14px;
		line-height: 1.4;
	}

	a {
		display: inline-block;
		color: #6356FE;
		font-weight: 400;

		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}

	// Logo (УДАЛИТЬ)
	.logo {
		width: 100%;
		padding: 15px;
		height: 63px;
	}
}
