@import '~styles/shared/helpers/text';

$link-color-active: #6356FE;
$link-color-base: rgba(#000, 0.65);

.nav-menu {
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
		display: flex;
		flex: auto;
		align-items: center;

		&-link {
			width: 100%;
			padding: 10px 25px;
			font-size: 14px;
			font-weight: 400;
			color: $link-color-base;
			text-decoration: none;
			@extend .text-ellipsis;

			&--active,
			&:hover, &:focus, &:active {
				color: $link-color-active;
				border-right: 2px solid $link-color-active;
				margin-right: -1px;
			}
		}

		&-link--disabled,
		&-link--disabled:hover,
		&-link--disabled:focus,
		&-link--disabled:active, {
			color: rgba($link-color-base, 0.3);
			cursor: not-allowed;
			border-color: transparent;
		}

		// &-link-disabled,
		// &-link-disabled &:hover &:focus &:active {
		// 	cursor: not-allowed;
		// 	border-color: transparent;
		// 	color: rgba($link-color-base, 0.3);
		// }
	}
}
