@import '~styles/shared/helpers/text';

.item {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #E8E8E8;
	padding: 15px 25px;

	&__head {
		color: #8C8C8C;
		font-size: 12px;
	}

	&__body {
		color: #595959;
		font-size: 14px;
	}

	&-col {
		display: flex;
		align-items: center;
		overflow: hidden;

		&_name {
			width: 70%;

			&-link {
				display: block;
				width: 100%;
				text-decoration: none;
				color: #595959;

				&:hover {
					text-decoration: underline;
				}
			}

			&-title {
				display: block;
				@extend .text-ellipsis;
			}
		}

		&_location,
		&_author,
		&_date,
		&_actions {
			width: 25%;
			padding: 0 15px;
		}

		&_location {
			width: 35%;
		}

		&_date {
			width: 20%;
			color: #8C8C8C;
		}
	}
}

.label-loc {
	display: inline-block;
	border-radius: 4px;
	color: #595959;
	background-color: #E9E9E9;
	padding: 7px 11px;
	font-size: 12px;
	@extend .text-ellipsis;
}

.author-wrap {
	display: flex;
	align-items: center;

	&_pic {
		margin-right: 10px;
	}

	&_name {
		@extend .text-ellipsis;
	}
}
