@import '~styles/shared/variables/colors';

$size-sm: 18px;
$size-md: 24px;
$size-lg: 34px;

@mixin size($size, $is-doted) {
	@if $is-doted == true {
		min-width: $size / 2;
		height: $size / 2;
		border-radius: 50%;
	} @else if $is-doted == false {
		min-width: $size;
		height: $size;
		border-radius: $size / 2;
		line-height: $size;
		padding: 0 6px 0 5px;
		letter-spacing: -0.5px;
	}
}

.container {
	color: $white;
	justify-content: center;
	display: flex;
}

.size {
	&-sm {
		@include size($size-sm, false);
		font-size: 12px;
	}

	&-md {
		@include size($size-md, false);
		font-size: 12px;
	}

	&-lg {
		@include size($size-lg, false);
		font-size: 14px;
	}

	// Styles for doted badge without value
	&-doted {
		&-sm {
			@include size($size-sm, true);
		}

		&-md {
			@include size($size-md, true);
		}

		&-lg {
			@include size($size-lg, true);
		}
	}
}

.theme {
	&-danger {
		background: $red;
	}

	&-warning {
		background: $yellow;
	}

	&-success {
		background: $green;
	}
}
