.actions-bar {
	&_container {
		padding: 15px 25px;
		background-color: #fff;
		border-bottom: 1px solid #eee;
		display: flex;
		align-items: center;

		// Временно
		& span {
			margin-right: 5px;
		}
	}
}
