$item-text-active: #5C5C5C;
$item-text-default: #BABABA;
$item-font-size: 20px;

$item-margin: 12px;

.breadcrumb {
	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	// &-title {}

	&-item {
		display: inline-block;
		margin-right: $item-margin;
		color: $item-text-active;
		font-size: $item-font-size;

		& > a {
			text-decoration: none;
			color: $item-text-default;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
				color: $item-text-active;
			}
		}

		&::after {
			content: '',
		}
	}

	&-separator {
		color: $item-text-default;
		font-size: 13px;
		margin-left: $item-margin;
	}
}
