.heading {
	font-weight: 300;
	line-height: 1.4;
}

.size {
	&__h1 {
		font-size: 34px;
		font-weight: 500;

		margin-top: 25px;
		margin-bottom: 20px;
	}

	&__h2 {
		font-size: 30px;
		font-weight: 400;

		margin-top: 30px;
		margin-bottom: 25px;
	}

	&__h3 {
		font-size: 24px;
		font-weight: 400;

		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__h4 {
		font-size: 20px;
		font-weight: 400;

		margin-top: 20px;
		margin-bottom: 20px;
	}
}
