$dropdown-border-radius: 4px;
$text-color: rgba(#000, 0.65);

:global {
	.Dropdown {
		display: block;
		position: absolute;
		left: -9999px;
		top: -9999px;
		z-index: 1050;
		font-size: 14px;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
		list-style: none;

		&-wrap {
			position: relative;
		}

		&-wrap-open {
			.Dropdown-down:before {
				transform: rotate(180deg);
			}
		}

		&-hidden,
		&-menu-hidden {
			display: none;
		}

		&-trigger {
			// background-color: #f5f5f5;
			cursor: pointer;
		}

		&-menu {
			outline: none;
			position: relative;
			list-style-type: none;
			padding: 4px 0;
			margin: 0;
			text-align: left;
			background-color: #fff;
			border-radius: $dropdown-border-radius;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
			background-clip: padding-box;

			&-item {
				padding: 5px 12px;
				margin: 0;
				clear: both;
				font-size: 14px;
				font-weight: normal;
				color: $text-color;
				white-space: nowrap;
				transition: all .3s;
				line-height: 22px;

				&:hover {
					background-color: #e6f7ff;
				}

				&.disabled {
					cursor: not-allowed;
				}

				> a {
					display: block;
					color: $text-color;
					text-decoration: none;

					&:hover, &:focus, &:active {
						text-decoration: none;
					}
				}
			}
		}
	}
}
