.container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 25px;
	padding: 0 15px;

	font-size: 14px;
	font-weight: 400;
	color: #565656;
	line-height: 65px;
}

.avatar {
	margin-right: 13px;
}
