.container {
	display: flex;
	margin-bottom: 50px;
}

.photo {
	position: relative;
	flex: none;
	width: 125px;
	max-width: 125px;
	margin-right: 30px;

	&-action {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.content {
	flex: auto;
}

.userName {
	font-weight: 500;
	margin-bottom: 10px;
}
