:global {
	.UiDialog {
		position: relative;
		width: auto;
		margin: 10px;

		@media (min-width: 768px) {
			width: 600px;
			margin: 30px auto;
		}

		&-wrap {
			position: fixed;
			overflow: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1050;
			-webkit-overflow-scrolling: touch;
			outline: 0;
		}

		&-title {
			margin: 0;
			font-size: 16px;
			line-height: 21px;
			font-weight: 400;
			color: #5C5C5C;
		}

		&-content {
			position: relative;
			background-color: #ffffff;
			border: none;
			border-radius: 6px 6px;
			background-clip: padding-box;
		}

		&-close {
			cursor: pointer;
			border: 0;
			background: transparent;
			font-size: 21px;
			position: absolute;
			right: 20px;
			top: 12px;
			font-weight: 700;
			line-height: 1;
			color: #000;
			text-shadow: 0 1px 0 #fff;
			filter: alpha(opacity=20);
			opacity: .2;
			text-decoration: none;

			&:hover {
				opacity: 1;
				filter: alpha(opacity=100);
				text-decoration: none;
			}

			&-x:after {
				content: '×';
			}
		}

		&-header {
			padding: 13px 20px 14px 20px;
			border-radius: 5px 5px 0 0;
			background: #fff;
			color: #666;
			border-bottom: 1px solid #e9e9e9;
		}

		&-body {
			padding: 20px;
		}

		&-footer {
			border-top: 1px solid #e9e9e9;
			padding: 10px 20px;
			text-align: right;
			border-radius: 0 0 5px 5px;
		}

		&-mask {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: #373737;
			background-color: rgba(55, 55, 55, 0.6);
			height: 100%;
			filter: alpha(opacity=50);
			z-index: 1050;

			&-hidden {
				display: none;
			}
		}
	}

	.UiDialog-zoom-enter,
	.UiDialog-zoom-appear {
		opacity: 0;
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
		animation-play-state: paused;
	}

	.UiDialog-zoom-leave {
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
		animation-play-state: paused;
	}

	.UiDialog-zoom-enter.UiDialog-zoom-enter-active,
	.UiDialog-zoom-appear.UiDialog-zoom-appear-active {
		animation-name: rcDialogZoomIn;
		animation-play-state: running;
	}

	.UiDialog-zoom-leave.UiDialog-zoom-leave-active {
		animation-name: rcDialogZoomOut;
		animation-play-state: running;
	}

	@keyframes rcDialogZoomIn {
		0% {
			opacity: 0;
			transform: scale(0, 0);
		}
		100% {
			opacity: 1;
			transform: scale(1, 1);
		}
	}

	@keyframes rcDialogZoomOut {
		0% {
			transform: scale(1, 1);
		}
		100% {
			opacity: 0;
			transform: scale(0, 0);
		}
	}

	.UiDialog-fade-enter,
	.UiDialog-fade-appear {
		opacity: 0;
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
		animation-play-state: paused;
	}
	.UiDialog-fade-leave {
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
		animation-play-state: paused;
	}
	.UiDialog-fade-enter.UiDialog-fade-enter-active,
	.UiDialog-fade-appear.UiDialog-fade-appear-active {
		animation-name: rcDialogFadeIn;
		animation-play-state: running;
	}

	.UiDialog-fade-leave.UiDialog-fade-leave-active {
		animation-name: rcDialogFadeOut;
		animation-play-state: running;
	}

	@keyframes rcDialogFadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes rcDialogFadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}
