.field {
	border-color: transparent;

	&_title {
		font-size: 22px;
	}
}

.desc {
	&-wrapper {
		position: relative;
		padding-left: 25px;
	}

	&_icon {
		position: absolute;
		top: 7px;
		left: 5px;
		// color: #BFBFBF;
	}
}
