@import '~styles/shared/helpers/text';
@import '~styles/shared/variables/colors';

.item {
	&-link {
		position: relative;
		transition: width 2s ease-out;
		display: flex;
		color: $sidebar-item-text;
		align-items: center;
		height: 35px;
		text-decoration: none;
		padding-right: 5px;
		margin: 10px 0;
		border-radius: 5px;
		width: 100%;

		&:hover,
		&__active {
			background-color: $sidebar-item-bg;
			color: $sidebar-item-active;
		}

		&__disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}

	&-text {
		@extend .text-ellipsis;
		flex: 1;
		line-height: 35px;
		font-size: 15px;
		font-weight: 400;
		padding: 0 5px;
		width: 100%;
	}

	&-icon {
		width: 40px;
		min-width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-badge-doted {
		position: absolute;
		right: 2px;
		top: 2px;
	}
}


/**
* Submenu
*/
.sidebar-menu {
	padding: 15px;
}

.divider {
	margin: 0;
}

.submenu {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba($black, .5);
	opacity: 0;
	transition: all .2s ease-in-out;
	visibility: hidden;

	&__is-open {
		visibility: visible;
		opacity: 1;
	}

	&__is-open &-container {
		width: 300px;
	}

	&-container {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 0;
		height: 100%;
		background: $gray-1;
		color: $gray-5;
		transition: width .2s ease-in-out;
	}

	&-header {
		display: flex;
		align-items: center;
		cursor: pointer;
		color: $gray-7;
		height: 65px;
		width: 100%;
		padding: 0 10px;
		font-size: 20px;
		margin-bottom: 10px;
	}

	&-item {
		&_open {
			color: $gray-7;
		}

		&-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			padding: 15px 20px;

			&:hover {
				color: $gray-7;
			}
		}

		&-boards {
			background: $gray-2;
			height: 0;
			overflow: hidden;
		}

		&_open &-boards {
			height: 100%;
		}

		&-board {
			display: flex;
			color: $gray-5;
			cursor: pointer;
			text-decoration: none;
			width: 100%;
			padding: 15px 20px;

			&:hover {
				color: $gray-7;
			}
		}
	}
}
