// Main colors
$white: #FFF;
$black: #000;

$blue-1: #DEDCFE;
$blue-2: #8278FE;
$blue-3: #6356FE;
$blue-4: #5348D9;

$gray-1: #F5F5F5;
$gray-2: #E8E8E8;
$gray-3: #D0D0D0;
$gray-4: #BFBFBF;
$gray-5: #8C8C8C;
$gray-6: #595959;
$gray-7: #262626;

$red-1: #E1464E;
$red: #E34C4C;
$yellow: #F7B422;
$green: #48C85C;

// **
$error-color: $red;

//sidebar
$sidebar-bg: $blue-3;
$sidebar-logo: $blue-4;
$sidebar-divider: $blue-2;
$sidebar-item-text: $blue-1;
$sidebar-item-active: $white;
$sidebar-item-bg: $blue-2;

//typography
$grey-typography: $gray-4;
$black-typography: $gray-6;

// Borders
$border-input: $gray-2;

// Sizes
$base-line-height: 1.4;
$base-font-size: 14px;

$base-border-radius: 4px;
