.board {
	&-container {
		height: 100%;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 15px;
	}
}

.list {
	&-wrapper {
		display: inline-block;
		width: 320px;
		background-color: #fff;
		border: 1px solid #E0E6E9;
		border-top: 3px solid #9FA4A8;
		margin-right: 25px;
		white-space: normal;
		vertical-align: top;

		&:last-child {
			margin-right: 0;
		}
	}

	&-content {
		background-color: #fff;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		max-height: 100%;
		position: relative;
		white-space: normal;
	}

	&-header {
		flex: 0 0 auto;
		padding: 15px;
		position: relative;
		min-height: 20px;
		font-size: 18px;
		font-weight: 500;
		color: #5C5C5C;
	}

	&-cards {
		flex: 1 1 auto;
		margin-bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 1;
		min-height: 0;
	}

	&-card {
		display: block;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #E0E6E9;
		padding: 15px;
		margin: 0 15px 15px;
		font-size: 14px;
		color: #5C5C5C;
		text-decoration: none;

		&:hover {
			box-shadow: 1px 1px 5px rgba(0,0,0,.2);
		}
	}

	&-new-task {
		display: block;
		padding: 5px 20px;
		font-size: 14px;
		font-weight: 400;
		text-decoration: none;
		color: #5C5C5C;
		border-top: 1px solid #eee;

		&:hover {
			background-color: rgba(#ccc, .2);
		}
	}
}
