@import '~styles/shared/helpers/text';
@import '~styles/shared/variables/colors';

.container {
	display: flex;
    flex: 0 0 auto;
    flex-direction: column;
	width: 70px;
	min-height: 100vh;
	background-color: $sidebar-bg;
	transition: width 250ms ease-out;

	&--is-open {
		width: 220px;
	}
}

.logo {
	height: 65px;
	background-color: $sidebar-logo;
	display: flex;
	justify-content: space-between;
	padding: 0 10px 0 20px;
	align-items: center;
}
