$avatar-size-sm: 30px;
$avatar-size-md: 50px;
$avatar-size-lg: 125px;

$avatar-border-radius: 4px;

.container {
	display: inline-block;
	background: transparent;
	position: relative;
	overflow: hidden;

	& > img {
		display: block;
		width: 100%;
		height: 100%;
	}

	/**
	* Shape
	*/
	&-circle {
		border-radius: 50%;
	}
	&-square {
		border-radius: $avatar-border-radius;
	}

	/**
	* Size
	*/
	&-sm {
		width: $avatar-size-sm;
		height: $avatar-size-sm;
		line-height: $avatar-size-sm;
	}

	&-md {
		width: $avatar-size-md;
		height: $avatar-size-md;
		line-height: $avatar-size-md;
	}

	&-lg {
		width: $avatar-size-lg;
		height: $avatar-size-lg;
		line-height: $avatar-size-lg;
		box-shadow: 0px 0px 15px rgba(#000, 0.3);
	}
}
