@import '~styles/shared/variables/colors';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;

	background-color: $blue-3;
	color: #fff;
}
