@import '~styles/shared/variables/colors';

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;

	background: $blue-3 url('./img/bg.png') no-repeat 100% 100%;
	background-size: cover;
	color: #fff;
}
