.container {
	display: flex;
	flex: 1;
	min-height: 1px;
	overflow: hidden;
}

.content {
	display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 920px;
	position: relative;
	background-color:rgba(#E5E5E5, 0.4);

	main {
		margin: 25px;
		padding: 15px;
		text-align: center;
		background-color: #fff;
    	border: 1px solid #E0E6E9;
    	border-radius: 4px;
	}
}
