.category-list {
	list-style: none;
	padding: 0;
	margin: 0;

	&_item {
		display: inline-block;
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}

	&_link {
		display: block;
		padding: 15px 0;
		text-decoration: none;
		color: #8C8C8C;
		font-weight: 400;

		&__active {
			color: #595959;
			font-weight: 500;
			border-bottom: 2px solid #6356FE;
		}
	}
}
